@import "variable";

/*======Headings=========*/
h1{
  color: $carbibean-color;
}
h2{
  color: $light-carbibean-color;
  width: 50%;
}
h3{
  font-size: 2.25rem;
  color: $white;
  width: 60%;
}
h4{
  color: $light-carbibean-color;
}
h5{
  background: $white;
  padding: 8px;
  width: 70%;
  text-align: center;
}
h6{
  width: 70%;
}
/*======Header=========*/
header{
    margin-left: 3rem;
    margin-right: 3rem;
    li:after {
      position: absolute;
      content: "";
      right: 185px;
      top: 36px;
      border-left: 1px solid gray;
      height: 35%;
  }
}
/*======sections=========*/
.banner{
    background-image: url(../images/buy-sell-bg.png);
    @include bg-prop;
    height: 400px;
}
.bg-black{
    background-image: url(../images/cash-bg.png);
    @include bg-prop;
    height: 400px;  
}
.bg-screen{
    background-image: url(../images/market-place-bg.png);
    @include bg-prop;
    height: 500px;  
}
/*======Footer=========*/
.footer{
    background: $black;
    color:white;
    &__top{
        border-bottom: 1px solid $light-grey;
    }
    .links{
      ul {list-style-type: none;}
      li a{
        color: $white;
        transition: color .2s;
        &:hover{
          text-decoration:none;
          color:#4180CB;
          }
      }
    }  
    .about-company{
      i{font-size: 25px;}
      a{
        color:$white;
        transition: color .2s;
        &:hover{color:#4180CB}
      }
    } 
    .location{
      i{font-size: 18px;}
    }
    .card{
        background: transparent;
        padding: 10px;
        border: 1px solid $light-grey;
        &__body{
            display: inline-flex;
            margin-bottom: 0px;
        }
    }
  }

.list{
  ul{
    list-style: none;
    li{
      margin-bottom: 20px;
      text-align: left;
      img{
        margin-right: 20px;
      }
    }
  }
}
.cash-view{
  width: 500px;
  max-height: 380px;
}
// Media Queries
@media only screen and (max-width: 768px) {
  header{
    margin: 0;
    li:after {
      display: none;
    }
  }
  .bg-black{
    height: 780px;  
  }
  
.banner {
  background-image: url(../images/buy-sell-bg.png);
  background-position: center;
  background-size: auto;
  height: 500px;
  h5 {
    width: 60%;
  }
}
.card-view{
  display: none;
}
.bg-screen {
  background-image: url(../images/market-place-bg.png);
  background-position: center;
  background-size: cover;
  height: 600px;
}
.transbox {
  background-color: #ffffff;
  border: 1px solid #eee;
  opacity: 0.6;
}
.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}
.transbox h1{
  color: black;
}
}

/*===============Circle Css Start======================*/
.card-view {
  border-radius: 10px;

}
.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.li {
  transition: all 200ms ease-in;
  width: 250px;
}

.timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

.status {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  border-top: 2px solid $white-smoke;
  position: relative;
  transition: all 200ms ease-in;
}
.status img{
  position: absolute;
  bottom: 10px;
  right: 198px;
  top: -30px;
}
.status:before {
  content: "";
  width: 79px;
  height: 80px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #ddd;
  position: absolute;
  top: -45px;
  left: -6%;
}

.li.complete .status {
  border-top: 2px solid $dark-carbibean-color;
}
.li.complete .status:before {
  /* background-color: #66DC71; */
  border-radius: 50%;
  /* border: none; */
  transition: all 200ms ease-in;
}
.li.complete .status span {
  color: #66DC71;
}
.circle-area{
  margin: 60px;
}
/*===============Circle Css End======================*/


