/*======Colors=========*/
$white: #ffffff;
$white-smoke: #D6DCE0;
$carbibean-color: #25bed6;
$light-carbibean-color: #23d295;
$dark-carbibean-color: #66DC71;
$black: #000000;
$dark-black: #212529;
$light-grey: #eee;
$muzali-color: #4180CB;
$carrot-red: #dc3545;


